<strong>Hello, {{ provivder }}</strong>
<p>There was a schedule cancelation, see details below:</p>

<p>
  <strong>Customer: </strong> {{ user }} <br />
  <strong>Date/time: </strong> {{ date }} <br />
  <br />
  <small>
    The time is available again
  </small>
</p>
